.mail-details-container {
    display: flex;
}

.mail-details-content-container {
    width: 100%;
    padding: 5px;
}

.mail-details-master-container {
    width: 100%;
}

.mail-details-badge {
    background-color: green;
    border-radius: 500px;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.5rem;
    text-align: center;
    color: rgb(240, 240, 240);
    width: 5rem;
}

.mail-details-subject {
    font-size: 1.375rem;
    font-weight: 400;
    padding: 20px 0px 8px 72px
}

.mail-details-author {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    line-height: 20px;
}

.mail-details-to {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    color: #5f6368;
}

.mail-details-body {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 1rem;
}

.mail-details-author-container {
    display: flex;
    justify-content: space-between;
}

.mail-details-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem;
}

.mail-details-buttons button {
    width: 2rem;
    height: 2rem;
    margin: 0px 0.5rem;
    font-size: 0px;
    background-color: white;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.mail-details-reply {
    background-image: url(../assets/imgs/reply-24px.svg);
}

.mail-details-archive {
    background-image: url(../assets/imgs/archive-24px.svg);
}

.mail-details-remove {
    background-image: url(../assets/imgs/delete-24px.svg);
}

.mail-details-unread {
    background-image: url(../assets/imgs/mail_outline-24px.svg);
}

.mail-details-save-note {
    background-image: url(../assets/imgs/icon-action-bookmark_border_24px.svg);
}


/* .mail */