    * {
        font-family: 'Roboto', sans-serif;
    }
    
    img {
        width: 100%;
    }
    
    .mail-main-container {
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 100%;
    }
    
    .mail-sidebar {
        display: flex;
        flex-direction: column;
        min-width: 12rem;
    }
    
    .mail-sidebar a {
        color: rgb(29, 29, 29);
        text-decoration: none;
        /* font-size: 0.875rem; */
    }
    
    .mail-sidebar a:visited {
        color: rgb(29, 29, 29)
    }
    
    .mail-sidebar-option {
        padding: 0.3rem 2rem;
        display: flex;
        justify-content: space-between;
        background-position: 0.25rem;
        background-repeat: no-repeat;
        line-height: 3rem;
    }
    
    .mail-sidebar-option:hover {
        background-color: #ccc;
        border-radius: 0px 1rem 1rem 0px;
    }
    
    .active-mail-nav {
        background-color: #fce8e6;
        border-radius: 0px 1rem 1rem 0px;
        color: red !important;
        font-size: 0.875rem;
    }
    
    .active-mail-nav:hover {
        background-color: #fce8e6;
    }
    
    .mail-sidebar-compose {
        background-image: url(../assets/imgs/add_circle_outline-24px.svg);
    }
    
    .mail-sidebar-inbox {
        background-image: url(../assets/imgs/inbox-24px.svg);
    }
    
    .mail-sidebar-starred {
        background-image: url(../assets/imgs/star-24px.svg);
    }
    
    .mail-sidebar-archived {
        background-image: url(../assets/imgs/archive-24px.svg);
    }
    
    .mail-toolbar {
        min-height: 2rem;
        padding: 0.25rem 6rem 0.25rem 12rem;
    }
    
    .filter-toolbar {
        display: flex;
        align-items: center;
    }
    
    .bulk-action-toolbar {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
    }
    
    .bulk-action-toolbar button {
        width: 2rem;
        height: 2rem;
        margin: 0px 0.5rem;
        font-size: 0px;
        background-color: white;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    
    .bulk-action-archive {
        background-image: url(../assets/imgs/archive-24px.svg);
    }
    
    .bulk-action-star {
        background-image: url(../assets/imgs/star-24px.svg);
    }
    
    .bulk-action-remove {
        background-image: url(../assets/imgs/delete-24px.svg);
    }
    
    .bulk-action-read {
        background-image: url(../assets/imgs/drafts-24px.svg);
    }
    
    .bulk-action-unread {
        background-image: url(../assets/imgs/markunread-24px.svg);
    }
    
    .filter-read-unread-container {
        display: flex;
        justify-content: space-between;
        width: 20rem;
    }
    
    .filter-read-unread-container select {
        border: 0px;
        min-width: 8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 1rem;
    }
    
    @media (max-width: 800px) {
        .mail-sidebar {
            min-width: 2rem;
        }
        .mail-sidebar a {
            font-size: 0px;
            padding: 0.3rem;
            line-height: 3rem;
        }
        .active-mail-nav,
        .mail-sidebar-option:hover {
            border-radius: 1rem;
        }
        .mail-toolbar {
            padding: 0.25rem 2rem;
        }
    }