    * {
        font-family: 'Roboto', sans-serif;
    }
    
    img {
        width: 100%;
    }
    
    .mail-main-container {
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 100%;
    }
    
    .mail-sidebar {
        display: flex;
        flex-direction: column;
        min-width: 8rem;
    }
    
    .mail-sidebar a {
        color: rgb(29, 29, 29);
        text-decoration: none;
        font-size: 0.875rem;
    }
    
    .mail-sidebar a:visited {
        color: rgb(29, 29, 29)
    }
    
    .mail-sidebar-option {
        padding: 0.3rem 1rem;
        display: flex;
        justify-content: space-between;
    }
    
    .mail-sidebar-option:hover {
        background-color: #ccc;
        border-radius: 0px 1rem 1rem 0px;
    }
    
    .active-mail-nav {
        background-color: #fce8e6;
        border-radius: 0px 1rem 1rem 0px;
        color: red !important;
        font-size: 0.875rem;
    }
    
    .active-mail-nav:hover {
        background-color: #fce8e6;
    }