.mail-compose-container {
    position: fixed;
    background-color: white;
    bottom: 0px;
    right: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    height: 30rem;
    width: 28rem;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.mail-compose-subject,
.mail-compose-recipient {
    display: flex;
    margin: 0 auto;
    padding: 0.5rem 0.25rem;
    width: 90%;
    font-weight: 400;
    font-size: 0.875rem;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
}

.mail-compose-title {
    background-color: #404040;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}

.mail-compose-rec-input,
.mail-compose-subject-input {
    width: 95%;
    font-weight: 400;
    font-size: 0.875rem;
    border: 0px;
}

.mail-compose-body-textarea:focus,
.mail-compose-rec-input:focus,
.mail-compose-subject-input:focus {
    outline: 0px;
}

.mail-compose-body-container {
    width: 100%;
    height: 95%;
    padding: 10px;
}

.mail-compose-body-textarea {
    width: 95%;
    resize: none;
    height: 95%;
    border: 0px;
}