.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5f6368;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
}

.services,
.content {
    /* box-shadow:0px 1px 4px #8178785c; */
    margin: 2px;
}

.about-container img {
    width: 150px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.team {
    font-size: 0.8rem;
    margin-top: 20px;
    font-style: italic;
}

@media (max-width: 380px) {
    .about-container {
        font-size: 1rem;
    }
    .about-container img {
        width: 120px;
        height: 90px;
        margin-bottom: 10px;
    }
    .team {
        font-size: 0.5rem;
    }
}