main {
    height: 100%;
}

.home-container {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.position-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    width:100%;
    transform: translate(-50%, -50%);
}


.home-title {
    text-align: center;
    font-size:2rem;
    margin-bottom: 10px;
    color: #2b2424ed;
}
img {
    width: 150%;
}
.imgs .img-home {
    width: 40px;
    background-color: #00000014;
    height: 40px;
    margin: 2px;
    padding: 4px;
    border-radius: 10px;

}

@media (max-width: 740px) {
    .home-title {
        font-size:1rem;
    }
}

@media (max-width: 540px) {
    .imgs .img-home {
        width: 30px;
        height: 30px;

    
    }
}

@media (max-width: 340px) {
    .home-title {
        font-size:0.8rem;
    }
    .imgs .img-home {
        width: 20px;
        height: 20px;

    
    }
}