@import '../../apps/keep/assets/keep-main.css';
@import '../../apps/mail/assets/mail-main.css';
@import '../../apps/mail/assets/mail-details.css';
@import '../../apps/mail/assets/mail-list.css';
@import '../../apps/mail/assets/mail-compose.css';
@import './home.css';

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    height:100vh;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

* {
    transition: 0.3s
}

.msgBox {
    background-color: rgba(128, 128, 128, 0.336);
    position: absolute;
    left: 50%;
    top: 40%;
    display: block;
    font-weight: 100;
    border-radius: 21px;
    transform: translate(-50%, -50%);
}

header {
    padding: 0px 5px;
    display: flex;
    min-height: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -3px 0px 6px 0px #000000c4;
}

header nav {
    display: flex;
    max-width: 550px;
    justify-content: space-between;
    flex-basis: 550px;
    min-height: 3rem;
    max-height: 4rem;
}

header nav a {
    text-decoration: none;
    /* height: 100%; */
    width: 100%;
}

.nav-option-container:hover {
    background-color: #dadce0;
    color: #222
}

header nav a:visited {
    color: inherit;
    text-decoration: none;
}

.nav-option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #5f6368;
}

.global-search {
    margin: 0.5rem;
    flex-grow: 1;
    padding: 0px 3rem;
}

.global-search input {
    width: 85%;
    height: 2rem;
    border-radius: 1rem;
    background-color: #cccccc99;
    color: rgb(29, 29, 29);
    line-height: 1.8rem;
    font-size: 1rem;
    border: none;
    padding: 0px 1rem;
    outline: none;
}

.active-nav .nav-option-container {
    box-shadow: inset 0px -9px 0px -5px rgba(217, 49, 37, 1);
}

.logo {
    font-size: 1.3rem;
}