@import '../../apps/keep/assets/keep-main.css';
@import '../../apps/mail/assets/mail-main.css';
@import '../../apps/mail/assets/mail-details.css';
@import '../../apps/mail/assets/mail-list.css';
@import '../../apps/mail/assets/mail-compose.css';
body {
    margin: 0 auto;
    overflow-x: hidden;
}

.msgBox {

    background-color: rgba(128, 128, 128, 0.336);
    position: absolute;
    left: 15%;
    display: block;
    font-weight: 100;
    border-radius: 21px;
    transform: translate(-50%,-50%);

}