.books-list {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 1rem;
}

.book-preview {
    padding: 0.5rem;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
}