textarea {
    width:90%;
    border-color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.main-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10%;
}

.main-keep-container {

    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(4,150px);
    gap: 15px;
}

/* NOTES */

.note {
 
    width:100%;
    height:100%;
    font-size: 28px;
    text-align: center;
    border-radius: 21px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.note-content {
    width: 100%;
}
.note-img{
    
    grid-column:span 2 ; 
    grid-row:span 3;
}

.note-img .img {
    width:200px;
    height:200px;
}

.note-text {
 
    grid-column:span 1; 
    grid-row:span 1;
}

.note-video{
  
    grid-row:span 2; 
}

.note-todo {
  
    grid-row:span 3;
}

/* INPUT */
.input-container {
    padding:5px;
    border-radius: 21px;
    border: 2px solid #e0e0e0;
    margin-bottom: 20px;
}

.input {
   display: flex;
   width:100%;

}

.input textarea {
    border-color:white;
  
}

.input textarea:focus {
    outline:none;
}

/* ICON */
.main-icons {
    background-color: #0000000a;
    padding-top: 5px;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 21px;
    width: 30%;
    text-align: center;
}
.icon {
    margin:3px;
    width:30px;
    height: 30px;
    transition: opacity .3s;
}

.icon:hover {
 opacity: 0.4;
}

.pinned {
    box-shadow: 1px -1px 9px 2px black;
}


.type {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.type img {
    opacity: 0.3;
}



/* COLOR PICKER */

.color-picker {
    border: 2px solid #e0e0e0;
    width: 250px;
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 21px;
    top: -40px;
    
}

.picker {
    border: 1px solid #e0e0e0;
    width:25px;
    height:25px;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    transition: opacity .3s;
}

.picker:hover {
    opacity: 0.4;
}

.picker-green {
    background-color: rgb(66, 173, 66);
}
.picker-pink{
    background-color: rgb(197, 114, 129);
}
.picker-red {
    background-color: rgb(223, 112, 112);
}

.picker-yellow {
    background-color: rgb(216, 216, 81);
}
.picker-blue {
    background-color: rgb(65, 65, 206);
}

.picker-purple {
    background-color: rgb(173, 79, 173);
}

.picker-white{
    background-color: white;
}

/* Edit */

.edit-note {
    grid-column:span 2; 
    border-radius: 21px;
    border: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-note textarea {
    border-color: white;
    text-align: center;
}

/* Search */

.search-container {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0.1px 1px 0px black;
}

.search-container input {
    background-color: #e0e0e0;
    width: 30%;
    height: 50px;
    border-radius: 21px;
    text-align: center;
    border:white 2px solid;
    outline: none;

}

.search-container input:focus {
    background-color: white;

}

